{% extends 'admin/base.html.twig' %}

{% block title %}Emprunt index
{% endblock %}

{% block body %}
	<h1>Emprunt index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Abboné</th>
				<th>Titre du livre</th>
				<th>Auteur</th>
				<th>Date_emprunt</th>
				<th>Date_retour</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for emprunt in emprunts %}
				<tr>
					<td>{{ emprunt.id }}</td>
					<td>{{ emprunt.abonne.pseudo }}</td>
					<td>{{ emprunt.livre.titre }}</td>
					<td>{{ emprunt.livre.auteur }}</td>
					<td>{{ emprunt.dateEmprunt|date('d/m/y') }}</td>
					<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d/m/y') : '' }}</td>
					<td>
						<a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">
							<i class="fa fa-book"></i>
						</a>
						<a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">
							<i class="fa fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun emprunt enregistré</td>
				</tr>
			{% endfor %}

		</tbody>
	</table>
	<hr>
	<h2>Livres empruntés non rendus</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Abboné</th>
				<th>Titre du livre</th>
				<th>Auteur</th>
				<th>Date_emprunt</th>
				<th>Date_retour</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for emprunt in empruntsNonRendus %}
				<tr>
					<td>{{ emprunt.id }}</td>
					<td>{{ emprunt.abonne.pseudo }}</td>
					<td>{{ emprunt.livre.titre }}</td>
					<td>{{ emprunt.livre.auteur }}</td>
					<td>{{ emprunt.dateEmprunt|date('d/m/y') }}</td>
					<td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('d/m/y') : '' }}</td>
					<td>
						<a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">
							<i class="fa fa-book"></i>
						</a>
						<a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">
							<i class="fa fa-edit"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun emprunt non rendus enregistré</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('emprunt_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
